:root {
    --primary-color: rgba(251, 59, 100, 1) ;
    --secondar-color:  rgba(8, 166, 228, 1);
    --third-color: rgba(85, 223, 180, 1);
}
html, body{
    font-size: 16px;
}

.header{
  position: sticky;
    background-color: rgba(255, 255, 255, 1) ;
    border: .125rem solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16 );
    top: 0;

}

.inner.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 101.6875rem;
    padding: 0;
    max-height: 4.375rem;



}
.inner{
    width: 100%;
    max-width: 70.5rem;
    padding-inline: 1.25rem;
    margin-inline: auto;


}

.logo {

    text-decoration: none;
}
.logo .logo__text{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: var(--secondar-color);
    font-size: 2rem;
    padding-left: 8.5rem;
}


.menu{
    display:flex;
    padding-right: -8.5rem;
    gap: 95px;



}

.menu .menu__item{
    font-family: "Open Sans", sans-serif ;
    font-weight: 700;
    font-size: 0.6875rem;
    text-decoration: none;
    color: rgba(165, 165, 165, 1);
    text-transform: uppercase;
    padding-top:2.0625rem ;

    min-width: 4.5rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.28px;

}
.menu__item.menu__item--active{
    color: black;
    border-bottom: 4px solid rgba(8, 166, 228, 1);
    padding-bottom: 27px;

}


.menu .menu__item:hover{
    color: black;
    border-bottom: 4px solid rgba(8, 166, 228, 1);
    padding-bottom: 27px;

}
.intro{
    display: flex;
    background-image: url("../images/Background-min.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    height: 100vh;



}

.intro .intro__box.intro__box--row{



}

.intro .intro__hdl{
    font-weight: 400;
    font-family:"Raleway", sans-serif ;
    font-size: 3.0625rem ;
    color: rgba(0, 0, 0, 1);
    margin: 0;

}

.intro .intro__lead{
    font-family:"Open Sans", sans-serif ;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-bottom:60px;

}

.intro__box .intro__box--row{

}

.intro .intro__btn:hover{

    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(8, 166, 228, 1);
    box-shadow: 0 .1875rem .375rem rgba(8, 166, 228, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.intro .intro__btn{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 .1875rem .375rem rgba(7, 172, 230, 0.16);
    background-color: rgba(8, 166, 228, 1);
    border-radius: 40px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.section__hdl{
    text-align: center;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
}
.section__box{
    display: flex;
    justify-content: center;
    gap: 183px;

}

.section__col{
    min-width: 176px;
    min-height: 167px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}
.section__text{
    margin-top: 0.3px;
    font-family:"Raleway", sans-serif ;
    font-size: 1rem;
    font-weight: 400;
 color: rgba(165, 165, 165, 1);
    max-width: 120px;



}

.section__img{
    min-width: 44px;
    min-height: 36px;
    align-self: center;
}

.section__hdl--ternary {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.375rem;
}
.box{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0.313rem 5rem #00000029;
    height: 33.188rem;


}
.inner{

}

.circle{

    width: 3.919rem;
    height:3.919rem;
    border-radius: 50%;
    margin-top: -165px;
    margin-right: -100px;

}
.circle-first{
    background-color: rgba(251, 59, 100, 1);
    margin-left: 2rem;
}

.circle-second{
    background-color: rgba(8, 166, 228, 1);
    margin-left: 2rem;
}
.circle-third{
    margin-left: 2rem;
    background-color: rgba(85, 223, 180, 1);

}